:root {
  --color-yellow: #fbd163;
}

@font-face {
  font-family: 'Wisdom Script';
  src: url('../fonts/wisdom-script.woff2') format('woff2'), url('../fonts/wisdom-script.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSanScyrl';
  src: url('../fonts/museosanscyrl-300.woff2') format('woff2'), url('../fonts/museosanscyrl-300.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'MuseoSanScyrl';
  src: url('../fonts/museosanscyrl-900.woff2') format('woff2'), url('../fonts/museosanscyrl-900.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

a,
a:visited,
a:hover,
a:focus {
  text-decoration: none;
}

img {
  border-style: none;
  display: block;
  max-width: 100%;
  height: auto;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  border: none;
  display: inline-block;
}

ul,
li {
  list-style: none;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1;
  bottom: 0px;
  padding: 0px;
  word-spacing: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  text-align: center;
  border-radius: 25px;
  padding: 15px 30px;
  max-width: 200px;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  transition: all 0.2s linear;
}

.btn:hover,
.btn:focus {
  background-color: var(--color-yellow);
  color: #222;
  border: 1px solid var(--color-yellow);
  box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.3);
  transform: scale(1.1);
}

.container {
  max-width: 1280px;
  margin: 0 auto;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.header {
  padding-top: 50px;
  padding-bottom: 70px;
  background-color: #191d28;
}

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}

.logo {
  font-family: 'Sriracha', cursive;
  font-size: 30px;
  color: #fbd163;
}

.menu {
  display: flex;
}

.menu__item:not(:last-child) {
  margin-right: 30px;
}

.menu__link {
  font-family: 'MuseoSanScyrl';
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #fff;
  transition: color 0.2s linear;
  position: relative;
}

.menu__link::after {
  position: absolute;
  content: '';
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: var(--color-yellow);
  transition: all 0.2s linear;
}

.menu__link:hover,
.menu__link:focus {
  color: #fbd163;
}

.menu__link:hover::after,
.menu__link:focus::after {
  width: 100%;
}

.hero {
  width: 1100px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 150px;
}

.hero__header {
  width: 700px;
}

.hero__list {
  padding-left: 40px;
  margin-bottom: 50px;
}

.hero__suptitle {
  color: #fbd163;
  font-weight: 700;
  font-style: 17px;
  letter-spacing: 0.3em;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.hero__suptitle:before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 1px;
  background-color: #fbd163;
  margin-right: 30px;
}

.hero__title {
  font-size: 45px;
  margin-bottom: 30px;
  position: relative;
}

.hero__title::after {
  content: '';
  width: 0;
  height: 2px;
  display: block;
  background-color: #fff;
  position: absolute;
  right: 20px;
  bottom: -5px;
  transition: all 0.4s linear;
}

.hero__title:hover::after {
  background-color: #fff;
  width: 56%;
}

.yellow {
  color: var(--color-yellow);
}

.hero__subtitle {
  line-height: 1.6;
  padding-left: 40px;
  margin-bottom: 15px;
  position: relative;
  transition: all 0.2s linear;
}

.hero__subtitle:hover,
.hero__subtitle:focus {
  transform: translateX(5px);
}

.hero__subtitle:before {
  display: block;
  content: '';
  background-image: url(../images/icon/list.png);
  width: 16px;
  height: 16px;
  top: 7px;
  left: 0;
  position: absolute;
  transition: all 0.2s linear;
}

.hero__subtitle:hover:before,
.hero__subtitle:focus:before {
  transform: rotate(90deg);
}

.hero__btn_about {
  display: inline-block;
  margin-right: 30px;
}

.hero__btn_contact {
  display: inline-block;
}

.hero__img {
  border-radius: 50%;
  box-shadow: 0px 0px 25px rgba(255, 255, 255, 0.5);
}

.social-icon {
  display: flex;
}

.social-icon__link {
  position: relative;
}

.social-icon__items:not(:last-child) {
  margin-right: 20px;
}

.social-icon__img {
  transition: all 0.2s linear;
}

.social-icon__link::before {
  position: absolute;
  display: block;
  content: '';
  width: 0;
  height: 2px;
  background-color: #fff;
  top: -10px;
  left: 2px;
  transition: all 0.2s linear;
}

.social-icon__link:hover::before {
  width: 18px;
}

.social-icon__img:hover,
.social-icon__img:focus {
  transform: translateY(-3px);
}

.arrow {
  display: block;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7);
  border-radius: 50%;
  background-image: url(../images/icon/arrow.png);
  background-repeat: no-repeat;
  background-position: 49% 55%;
  transition: all 0.2s linear;
}

.arrow:hover,
.arrow:focus {
  transform: translateY(4px);
  box-shadow: 0 0 10px #fbd163;
}

.skills {
  background-color: #161922;
  padding: 110px 0;
}

.skills__wrap {
  display: flex;
  justify-content: space-between;
  width: 800px;
  margin: 0 auto;
}

.skills__left-wrap {
  width: 500px;
}

.skills__right-wrap {
  width: 210px;
}

.skills__title {
  color: var(--color-yellow);
  font-size: 27px;
  margin-bottom: 40px;
}

.skills__item {
  color: #fff;
  margin-bottom: 15px;
}

.skills__icon {
  margin-bottom: 30px;
}

.skills__link {
  display: block;
  color: #fff;
  margin-bottom: 50px;
}

.skills__list {
  margin-bottom: 50px;
}

.skills__btn {
  display: block;
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  margin: 0 auto;
}

.portfolio {
  background-color: #191d28;
  padding: 110px 0;
}

.section-head {
  text-align: center;
}

.section-head__title {
  font-family: 'MuseoSanScyrl';
  font-size: 35px;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--color-yellow);
  margin-bottom: 20px;
}

.section-head__subtitle {
  color: #fff;
  margin-bottom: 90px;
}

.card {
  display: flex;
  justify-content: space-between;
}

.card__item {
  padding: 30px;
  width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}

.card__img {
  border-radius: 6px;
}

.card__wrap {
  border-radius: 6px;
  margin-bottom: 20px;
  position: relative;
  transition: all 0.2s linear;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  display: flex;
  border-radius: 6px;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(rgba(252, 227, 136, 0.9), rgba(243, 129, 129, 0.9));
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s linear;
}

.overlay__title {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 55px;
}

.overlay__btn {
  background-color: var(--color-yellow);
  border: 1px solid var(--color-yellow);
  color: rgb(0, 0, 0);
  margin: 0 auto;
}

.card__item:hover .overlay,
.card__item:focus .overlay {
  opacity: 1;
  visibility: visible;
}

.card__item:hover .card__wrap,
.card__item:focus .card__wrap {
  transform: translate(-10px, -10px);
  box-shadow: 10px 10px 0 #95e1d3;
}

.card__desc {
  text-align: center;
  color: #fff;
}

.card__title {
  text-transform: uppercase;
  margin-bottom: 7px;
}
